<!DOCTYPE html>

<html>

<head>
    <title>URL Shortener</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .centered-wrapper {
            position: relative;
            text-align: center;
        }

        .centered-wrapper:before {
            content: "";
            position: relative;
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }

        .centered-content {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>

<body class="centered-wrapper">
    <div class="centered-content">
        <div class="mui-textfield mui-textfield--float-label">
            <input id="url" style="text-align: center" type="url" name="url" required autofocus autocomplete="url">
            <label>URL</label>
        </div>
        <br>
        <br>
        <button id="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">submit</button>
        <div id="links" class="links">
        </div>
    </div>
    <script src="/javascripts/index.js"></script>
</body>

</html>